<head>
  <link rel="stylesheet" href="styles/progress.module.css" />
</head>
<body>
  <ul>
    <li>
      <div class="progress-circle p10">
        <span>10%</span>
        <div class="left-half-clipper">
          <div class="first50-bar"></div>
          <div class="value-bar"></div>
        </div>
      </div>
      <p>Milestone 1</p>
    </li>
    <li>
      <div class="progress-circle over50 p70">
        <span>70%</span>
        <div class="left-half-clipper">
          <div class="first50-bar"></div>
          <div class="value-bar"></div>
        </div>
      </div>
      <p>Milestone 2</p>
    </li>
    <li>
      <div class="progress-circle over50 p66">
        <span>66%</span>
        <div class="left-half-clipper">
          <div class="first50-bar"></div>
          <div class="value-bar"></div>
        </div>
      </div>
      <p>Milestone 3</p>
    </li>
    <li>
      <div class="progress-circle over50 p99">
        <span>99%</span>
        <div class="left-half-clipper">
          <div class="first50-bar"></div>
          <div class="value-bar"></div>
        </div>
      </div>
      <p>Milestone 4</p>
    </li>
  </ul>
</body>
