<body>
  <section class="timeline-container">
    <article class="timeline-event">
      <a class="profile-link" href=""><img class ="profile-icon"src="/images/profileicon.png" alt="profileicon"></div></a>
      <div class="span-container">
        <span class="event-description"
          ><b>Chris</b> just recently <b>pushed</b> to
          <b>Dashboard BRANCH.</b></span
        >
        <span class="event-time">14:35</span>
      </div>
    </article>
    <article class="timeline-event">
      <a class="profile-link" href=""><img class ="profile-icon"src="/images/profileicon.png" alt="profileicon"></div></a>
      <div class="span-container">
        <span class="event-description"
          ><b>Chris</b> just recently <b>pushed</b> to
          <b>Dashboard BRANCH.</b></span
        >
        <span class="event-time">14:35</span>
      </div>
    </article>
    <article class="timeline-event">
      <a class="profile-link" href=""><img class ="profile-icon"src="/images/profileicon.png" alt="profileicon"></div></a>
      <div class="span-container">
        <span class="event-description"
          ><b>Chris</b> just recently <b>pushed</b> to
          <b>Dashboard BRANCH.</b></span
        >
        <span class="event-time">14:35</span>
      </div>
    </article>
    <article class="timeline-event">
      <a class="profile-link" href=""><img class ="profile-icon"src="/images/profileicon.png" alt="profileicon"></div></a>
      <div class="span-container">
        <span class="event-description"
          ><b>Chris</b> just recently <b>pushed</b> to
          <b>Dashboard BRANCH.</b></span
        >
        <span class="event-time">14:35</span>
      </div>
    </article>
  </section>
</body>
