<section class="timeline-container">
  <article class="timeline-event">
    <a href=""><div class="icon-placeholder"></div></a>
    <span class="event-description"
      ><b>Chris</b> just recently <b>pushed</b> to
      <b>Dashboard BRANCH.</b></span
    >
    <span class="even-time">14:35</span>
  </article>
  <article class="timeline-event">
    <a href=""><div class="icon-placeholder"></div></a>
    <span class="event-description"
      ><b>Chris</b> just recently <b>pushed</b> to
      <b>Dashboard BRANCH.</b></span
    >
    <span class="even-time">14:35</span>
  </article>
  <article class="timeline-event">
    <a href=""><div class="icon-placeholder"></div></a>
    <span class="event-description"
      ><b>Chris</b> just recently <b>pushed</b> to
      <b>Dashboard BRANCH.</b></span
    >
    <span class="even-time">14:35</span>
  </article>
  <article class="timeline-event">
    <a href=""><div class="icon-placeholder"></div></a>
    <span class="event-description"
      ><b>Chris</b> just recently <b>pushed</b> to
      <b>Dashboard BRANCH.</b></span
    >
    <span class="even-time">14:35</span>
  </article>
  <article class="timeline-event">
    <a href=""><div class="icon-placeholder"></div></a>
    <span class="event-description"
      ><b>Chris</b> just recently <b>pushed</b> to
      <b>Dashboard BRANCH.</b></span
    >
    <span class="even-time">14:35</span>
  </article>
</section>
