<body>
  <ul>
    <li class="card-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        viewBox="0 0 150 150"
        preserveAspectRatio="none"
        style="width: 125px; height: 125px">
        <circle
          cx="125"
          cy="75"
          r="57.3"
          id="green-halo"
          fill="none"
          stroke="var(--secondary-color)"
          stroke-width="10"
          stroke-dasharray="270,20000"
          transform="rotate(-90,100,100)" />
        <text
          id="myTimer"
          text-anchor="middle"
          x="75"
          y="85"
          fill="var(--secondary-color)"
          style="font-size: 28px">
          75%
        </text>
      </svg>
      <p>Milestone 1</p>
    </li>
    <li class="card-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        viewBox="0 0 150 150"
        preserveAspectRatio="none"
        style="width: 125px; height: 125px">
        <circle
          cx="125"
          cy="75"
          r="57.3"
          id="green-halo"
          fill="none"
          stroke="var(--secondary-color)"
          stroke-width="10"
          stroke-dasharray="54,20000"
          transform="rotate(-90,100,100)" />
        <text
          id="myTimer"
          text-anchor="middle"
          x="75"
          y="85"
          fill="var(--secondary-color)"
          style="font-size: 28px">
          15%
        </text>
      </svg>
      <p>Milestone 2</p>
    </li>
    <li class="card-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        viewBox="0 0 150 150"
        preserveAspectRatio="none"
        style="width: 125px; height: 125px">
        <circle
          cx="125"
          cy="75"
          r="57.3"
          id="green-halo"
          fill="none"
          stroke="var(--secondary-color)"
          stroke-width="10"
          stroke-dasharray="194,20000"
          transform="rotate(-90,100,100)" />
        <text
          id="myTimer"
          text-anchor="middle"
          x="75"
          y="85"
          fill="var(--secondary-color)"
          style="font-size: 28px">
          54%
        </text>
      </svg>
      <p>Milestone 3</p>
    </li>
    <li class="card-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        viewBox="0 0 150 150"
        preserveAspectRatio="none"
        style="width: 125px; height: 125px">
        <circle
          cx="125"
          cy="75"
          r="57.3"
          id="green-halo"
          fill="none"
          stroke="var(--secondary-color)"
          stroke-width="10"
          stroke-dasharray="126,20000"
          transform="rotate(-90,100,100)" />
        <text
          id="myTimer"
          text-anchor="middle"
          x="75"
          y="85"
          fill="var(--secondary-color)"
          style="font-size: 28px">
          35%
        </text>
      </svg>
      <p>Milestone 4</p>
    </li>
  </ul>
</body>
