<body>
  <ul class="timeline-list">
    <li class="timeline-event">
      <a class="profile-link" href="#">
        <img
          class="profile-icon"
          src="/images/profileicon.png"
          alt="profileicon" />
      </a>
      <div class="span-container">
        <span class="event-description">
          <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
          <b>[Repo-Name]</b>
        </span>
        <span class="event-time">[User-Name] um [Zeitangabe]</span>
      </div>
    </li>
    <li class="timeline-event">
      <a class="profile-link" href="#">
        <img
          class="profile-icon"
          src="/images/profileicon.png"
          alt="profileicon" />
      </a>
      <div class="span-container">
        <span class="event-description">
          <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
          <b>[Repo-Name]</b>
        </span>
        <span class="event-time">[User-Name] um [Zeitangabe]</span>
      </div>
    </li>
    <li class="timeline-event">
      <a class="profile-link" href="#">
        <img
          class="profile-icon"
          src="/images/profileicon.png"
          alt="profileicon" />
      </a>
      <div class="span-container">
        <span class="event-description">
          <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
          <b>[Repo-Name]</b>
        </span>
        <span class="event-time">[User-Name] um [Zeitangabe]</span>
      </div>
    </li>
    <li class="timeline-event">
      <a class="profile-link" href="#">
        <img
          class="profile-icon"
          src="/images/profileicon.png"
          alt="profileicon" />
      </a>
      <div class="span-container">
        <span class="event-description">
          <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
          <b>[Repo-Name]</b>
        </span>
        <span class="event-time">[User-Name] um [Zeitangabe]</span>
      </div>
    </li>
    <li class="timeline-event">
      <a class="profile-link" href="#">
        <img
          class="profile-icon"
          src="/images/profileicon.png"
          alt="profileicon" />
      </a>
      <div class="span-container">
        <span class="event-description">
          <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
          <b>[Repo-Name]</b>
        </span>
        <span class="event-time">[User-Name] um [Zeitangabe]</span>
      </div>
    </li>
  </ul>
</body>
