<body>
  <!-- JS document.getElementById.prepend to put new child at the first place -->
  <ul class="timeline">
    <li class="card-item event-item">
      <div class="link-container">
        <a class="profile-link" href="#">
          <img
            class="profile-icon"
            src="/images/profileicon.png"
            alt="profileicon" />
        </a>
      </div>
      <span class="event-description">
        <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
        <b>[Repo-Name]</b>111111
      </span>
      <span class="event-time">[User-Name] um [Zeitangabe]</span>
    </li>
    <li class="card-item event-item">
      <div class="link-container">
        <a class="profile-link" href="#">
          <img
            class="profile-icon"
            src="/images/profileicon.png"
            alt="profileicon" />
        </a>
      </div>
      <span class="event-description">
        <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
        <b>[Repo-Name]</b>111111
      </span>
      <span class="event-time">[User-Name] um [Zeitangabe]</span>
    </li>
    <li class="card-item event-item">
      <div class="link-container">
        <a class="profile-link" href="#">
          <img
            class="profile-icon"
            src="/images/profileicon.png"
            alt="profileicon" />
        </a>
      </div>
      <span class="event-description">
        <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
        <b>[Repo-Name]</b>111111
      </span>
      <span class="event-time">[User-Name] um [Zeitangabe]</span>
    </li>
    <li class="card-item event-item">
      <div class="link-container">
        <a class="profile-link" href="#">
          <img
            class="profile-icon"
            src="/images/profileicon.png"
            alt="profileicon" />
        </a>
      </div>
      <span class="event-description">
        <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
        <b>[Repo-Name]</b>111111
      </span>
      <span class="event-time">[User-Name] um [Zeitangabe]</span>
    </li>
    <li class="card-item event-item">
      <div class="link-container">
        <a class="profile-link" href="#">
          <img
            class="profile-icon"
            src="/images/profileicon.png"
            alt="profileicon" />
        </a>
      </div>
      <span class="event-description">
        <b>[Commit-Name]</b> mit <b>[Anzahl-Changes]</b> Changes in
        <b>[Repo-Name]</b>111111
      </span>
      <span class="event-time">[User-Name] um [Zeitangabe]</span>
    </li>
  </ul>
</body>
