<body>
  <div class="navigation-container">
    <div id="test-box" class="navigation-section-container">
      <button class="close-menu" onclick="closeMenu()">close</button>
      <section class="navigation-element">
        <h2 class="first-title navigation-title">Design Vorlagen</h2>
        <ul class="navigation-list">
          <li class="navigation-item"><button>Voreinstellung 1</button></li>
          <li class="navigation-item"><button>Voreinstellung 1</button></li>
          <li class="navigation-item"><button>Voreinstellung 1</button></li>
        </ul>
      </section>
      <section class="navigation-element">
        <h2 class="navigation-title">Beispiele</h2>
        <ul class="navigation-list">
          <li class="navigation-item"><button>Beispiel 1</button></li>
          <li class="navigation-item"><button>Beispiel 2</button></li>
          <li class="navigation-item"><button>Beispiel 3</button></li>
        </ul>
      </section>
      <section class="navigation-element">
        <h2 class="navigation-title">Profil</h2>
        <ul class="navigation-list">
          <li class="navigation-item">
            <a href="/pages/profile.html">Persönliches Profil</a>
          </li>
          <li class="navigation-item">
            <a href="/pages/settings.html">Einstellungen</a>
          </li>
          <li class="navigation-item"><button>Abmelden</button></li>
        </ul>
      </section>
    </div>
  </div>
</body>
