<body>
  <h1 class="settings-tab">Kontoexample</h1>

  <form class="settings-container">
    <div class="information-container">
      <label for="example">example:</label>
      <input
        class="inputField"
        placeholder="Vorname"
        id="example"
        name="example"
        type="name" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input
        class="inputField"
        placeholder="Vorname"
        id="example"
        name="example"
        type="name" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <select class="inputField" id="example" name="example">
        <option>1</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
      </select>
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <div class="radiobutton-container">
        <div class="button-option">
          <input
            class="inputField"
            placeholder="Vorname"
            id="example"
            name="example"
            type="radio" />
          <label>Option 1</label>
        </div>
        <div class="button-option">
          <input
            class="inputField"
            placeholder="Vorname"
            id="example"
            name="example"
            type="radio" />
          <label>Option 2</label>
        </div>
      </div>
    </div>
  </form>
</body>
