<body>
  <h1 class="settings-tab">Kontoeinstellungen</h1>

  <form class="settings-container">
    <div class="information-container">
      <label for="email">E-Mail:</label>
      <input id="email" name="email" type="email" />
    </div>
    <div class="information-container">
      <label for="departure">Abteilung:</label>
      <input id="departure" name="departure" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="information-container">
      <label for="fname">First name:</label>
      <input id="fname" name="fname" type="text" />
    </div>
    <div class="button-container">
      <button class="submit-button">Bestätigen</button>
      <button class="discard-button">Verwerfen</button>
    </div>
  </form>
</body>
