<body>
  <h1 class="settings-tab">Kontoexample</h1>

  <form>
    <div class="information-container">
      <h3><label for="example">example:</label></h3>
      <input
        class="inputField"
        placeholder="Vorname"
        id="example"
        name="example"
        type="name" />
    </div>
    <div class="information-container">
      <h3><label for="example">example:</label></h3>
      <input
        class="inputField"
        placeholder="Vorname"
        id="example"
        name="example"
        type="name" />
    </div>
    <div class="information-container">
      <h3><label for="example">example:</label></h3>
      <select class="inputField" id="example" name="example">
        <option>1</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
      </select>
    </div>
    <div class="information-container">
      <h3><label for="example">example:</label></h3>
      <select class="inputField" id="example" name="example">
        <option>1</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
      </select>
    </div>
    <div class="information-container">
      <h3><label>example:</label></h3>
      <div class="radiobutton-container">
        <label>
          <input
            class="inputField"
            placeholder="Vorname"
            id="example"
            name="example"
            type="radio" />
          Option 1
        </label>
        <label>
          <input
            class="inputField"
            placeholder="Vorname"
            id="example"
            name="example"
            type="radio" />
          Option 1
        </label>
      </div>
    </div>
    <div class="information-container">
      <h3><label>example:</label></h3>
      <div class="radiobutton-container">
        <label>
          <input
            class="inputField"
            placeholder="Vorname"
            id="example"
            name="example"
            type="radio" />
          Option 1
        </label>
        <label>
          <input
            class="inputField"
            placeholder="Vorname"
            id="example"
            name="example"
            type="radio" />
          Option 1
        </label>
      </div>
    </div>
    <div class="information-container">
      <h3><label for="example">example:</label></h3>
      <input class="inputField" id="example" name="example" type="date" />
    </div>
    <div class="information-container">
      <h3><label for="example">example:</label></h3>
      <input class="inputField" id="example" name="example" type="date" />
    </div>
  </form>
</body>
