<body>
  <h1 class="settings-tab">Benachrichtigungsexample</h1>

  <form class="settings-container">
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="information-container">
      <label for="example">example:</label>
      <input id="example" name="example" type="example" />
    </div>
    <div class="button-container">
      <button class="submit-button">Bestätigen</button>
      <button class="discard-button">Verwerfen</button>
    </div>
  </form>
</body>
