<body>
  <ul class="slider-list">
    <li class="settings-item">
      <button id="konto">Kontoeinstellungen</button>
    </li>
  </ul>
  <ul class="slider-list">
    <li class="settings-item">
      <button id="profile">Profileinstellungen</button>
    </li>
  </ul>
  <ul class="slider-list">
    <li class="settings-item">
      <button id="linkedAccounts">Verknüpfte Konten</button>
    </li>
  </ul>
  <ul class="slider-list">
    <li class="settings-item">
      <button id="notifications">Benachrichtigungen</button>
    </li>
  </ul>
  <ul class="slider-list">
    <li class="settings-item">
      <button id="konto">Kontoeinstellungen</button>
    </li>
  </ul>
</body>
