<body>
  <ul class="slider-list">
    <li class="settings-item">
      <button
        class="active"
        id="konto"
        onclick="changeSite('accountsettings.html', 'konto')">
        Konto
      </button>
    </li>
    <li class="settings-item">
      <button
        id="profile"
        onclick="changeSite('profilesettings.html', 'profile')">
        Profil
      </button>
    </li>
    <li class="settings-item">
      <button
        id="linkedAccounts"
        onclick="changeSite('linkedsettings.html', 'linkedAccounts')">
        Verknüpfungen
      </button>
    </li>
    <li class="settings-item last">
      <button
        id="notifications"
        onclick="changeSite('notificationsettings.html', 'notifications')">
        Benachrichtigungen
      </button>
    </li>
  </ul>
</body>
