<body>
  <div class="slider-container">
    <ul class="slider-list">
      <li class="active settings-item">
        <button
          id="account"
          onclick="changeSite('accountsettings.html', 'account')">
          Account
        </button>
      </li>
      <li class="settings-item">
        <button
          id="integrations"
          onclick="changeSite('integrationsettings.html', 'integrations')">
          Verknüpfte Konten
        </button>
      </li>
      <li class="settings-item">
        <button
          id="notifications"
          onclick="changeSite('notificationsettings.html', 'notifications')">
          Benachrichtigungen
        </button>
      </li>
      <li class="settings-item last">
        <button id="help" onclick="changeSite('help.html', 'help')">
          Hilfe
        </button>
      </li>
    </ul>
  </div>
</body>
