/* Tab Heading */

.settings-tab {
  text-align: center;
  margin-top: 0;
}

/* Information row */

.information-container > h3 {
  padding: 1rem 0.75rem 0.2rem;
}

/* Input Design */

.information-container > .inputField {
  width: 100%;
}

/* Container for multiple radiobuttons */

.radiobutton-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0.75rem;
  gap: 1rem;
}

/* Container for Radiobutton and Label */

.radiobutton-container > .button-option {
  display: flex;
  gap: 0.6rem;
}

/* Switch Design */

.switch {
  display: inline-block;
  width: 5rem;
  height: 2rem;
  position: relative;
}

.toggle-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-darker);
  border-radius: 2.5rem;
  cursor: pointer;
}

.toggle-thumb:before {
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  position: absolute;
  left: 0.4rem;
  bottom: 0.4rem;
  border-radius: 50%;
  background-color: var(--font-color);
  transition: 0.4s all ease;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox:checked + .toggle-thumb:before {
  transform: translateX(3rem);
}

/* Submit / Cancel Buttons */

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.button-container button {
  background-color: var(--button-red);
  padding: 1rem;
  border-radius: 50px;
}

.button-container button:first-child {
  background-color: var(--button-green);
}
