/* Tab Heading */

.settings-tab {
  text-align: center;
  margin-top: 0;
}

/* Information row */

.information-container > h3 {
  padding: 1rem 0.75rem 0.2rem;
}

.information-container {
  margin: 1rem 0;
}

/* Input Design */

.information-container > .inputField {
  width: 100%;
  margin: 0;
}

/* Container for multiple radiobuttons */

.radiobutton-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0.75rem;
  gap: 1rem;
}

/* Container for Radiobutton and Label */

.radiobutton-container > .button-option {
  display: flex;
  gap: 0.6rem;
}
/* Submit / Cancel Buttons */

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.button-container button {
  background-color: var(--button-red);
  padding: 1rem;
  border-radius: 50px;
}

.button-container button:first-child {
  background-color: var(--button-green);
}
