/* TODO: add more color schemes*/
:root {
  /* PRIMARY COLOR */
  --primary-color: #005fa8;
  --primary-focus-color: #004275;
  --primary-content-color: #f8f8f8;
  /* SECONDARY COLOR */
  --secondary-color: #0071c2;
  --secondary-focus-color: #00538f;
  --secondary-content-color: #f8f8f8;
  /* ACCENT COLOR */
  --accent-color: ;
  --accent-focus-color: ;
  --accent-content-color: ;
  /* NEUTRAL COLOR */
  --neutral-color: ;
  --neutral-focus-color: ;
  --neutral-content-color: ;
  /* BASE COLOR */
  --base-100-color: #232323;
  --base-200-color: #191919;
  --base-300-color: #121212;
  --base-content-color: #f8f8f8;
  /* INFO COLOR */
  --info-color: #0000ff;
  --info-content-color: #000;
  /* SUCCESS COLOR*/
  --success-color: #7ab51d;
  --success-content-color: #000;
  /* WARNING COLOR */
  --warning-color: #ffff00;
  --warning-content-color: #000;
  /* ERROR COLOR */
  --error-color: #e30613;
  --error-content-color: #000;
}

.info {
  color: var(--info-content-color);
  background-color: var(--info-color);
}

.success {
  color: var(--success-content-color);
  background-color: var(--success-color);
}

.warning {
  color: var(--warning-content-color);
  background-color: var(--warning-color);
}

.error {
  color: var(--error-content-color);
  background-color: var(--error-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: var(--base-100-color);
  background-color: var(--base-content-color);
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--base-content-color);
  background-color: var(--base-100-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Main Content Grid */

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
}

/* General Stylings */

button {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

main {
  margin: 0.75rem; /* IS THIS A GOOD IDEA? */
}

input,
select {
  outline: none;
  border: none;
  box-shadow: none;
  padding: 1rem 0.75rem;
  margin: 0.2rem 0;
  border-radius: 0.75rem;
  color: var(--font-color);
  background-color: var(--base-200-color);
}

input:focus,
select:focus {
  outline: 2px solid var(--primary-color);
}

.card {
  height: 22rem;
  padding: 0.5rem;
  background-color: var(--base-300-color);
  border-radius: 0.75rem;
}

.card-item {
  background-color: var(--base-200-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media only screen and (width > 425px) and (width <= 768px) {
  .content-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }

  #timeline {
    grid-area: 1/ 1/ 3/ 2;
  }

  .card {
    min-height: 100%;
  }
}

<<<<<<< HEAD [data-theme="light"] {
  /* PRIMARY COLOR */
  --primary-color: #005fa8;
  --primary-focus-color: #007cdb;
  --primary-content-color: #222;
  /* SECONDARY COLOR */
  --secondary-color: #0071c2;
  --secondary-focus-color: #008ff5;
  --secondary-content-color: #222;
  /* ACCENT COLOR */
  --accent-color: ;
  --accent-focus-color: ;
  --accent-content-color: ;
  /* NEUTRAL COLOR */
  --neutral-color: ;
  --neutral-focus-color: ;
  --neutral-content-color: ;
  /* BASE COLOR */
  --base-100-color: #fff;
  --base-200-color: #eee;
  --base-300-color: #ddd;
  --base-content-color: #222;
  /* INFO COLOR */
  --info-color: #0000ff;
  --info-content-color: #000;
  /* SUCCESS COLOR*/
  --success-color: #7ab51d;
  --success-content-color: #000;
  /* WARNING COLOR */
  --warning-color: #ffff00;
  --warning-content-color: #000;
  /* ERROR COLOR */
  --error-color: #e30613;
  --error-content-color: #000;
}

=======>>>>>>>1298e39 (button colors) .info {
  color: var(--info-content-color);
  background-color: var(--info-color);
}

.success {
  color: var(--success-content-color);
  background-color: var(--success-color);
}

.warning {
  color: var(--warning-content-color);
  background-color: var(--warning-color);
}

.error {
  color: var(--error-content-color);
  background-color: var(--error-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: var(--base-100-color);
  background-color: var(--base-content-color);
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--base-content-color);
  background-color: var(--base-100-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Main Content Grid */

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

#timeline {
  grid-area: 1 / 1 / 2 / 2;
}
#progress {
  grid-area: 2 / 1 / 3 / 2;
}

/* General Stylings */

button {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

main {
  margin: 0.5rem auto 0;
  width: 95%;
}

input,
select {
  outline: none;
  border: none;
  box-shadow: none;
  padding: 1rem 0.75rem;
  margin: 0.2rem 0;
  border-radius: 0.75rem;
  color: var(--font-color);
  background-color: var(--base-200-color);
}

input:focus,
select:focus {
  outline: 2px solid var(--primary-color);
}

.card {
  height: 22rem;
  padding: 0.5rem;
  background-color: var(--base-300-color);
  border-radius: 0.75rem;
}

.card-item {
  background-color: var(--base-200-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Styling for Tablets */

@media only screen and (width > 425px) {
  .content-grid {
    grid-template-columns: 1.26fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  #timeline {
    grid-area: 1/ 1/ 3/ 2;
  }

  .card {
    min-height: 100%;
  }
}

/* Styling for small screens and laptops */

@media only screen and (width > 768px) {
}

/* Styling for Desktops and large screens */

@media only screen and (width > 1024px) {
  .content-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 90vh;
  }

  #timeline {
    grid-area: 1 / 3 / 3 / 3;
  }

  #progress {
    grid-area: 1 / 1 / 1 / 1;
  }

  /* Not viable right now */
}

/* Styling for Extra large screens and TVs */

@media only screen and (width > 1200px) {
}
