body {
  height: 100vh;
  width: 100vw;
}

.center {
  display: grid;
  place-items: center;
}

.formBox {
  width: 90vw;
  max-width: 30rem;
  padding: 1rem;
  background-color: var(--bg-color-dark);
  border-radius: 0.75rem;
}

h1 {
  margin: 0 0 1rem;
  text-align: center;
}

label,
input,
button {
  width: 100%;
}

label,
button {
  font-weight: 600;
}

input,
button {
  outline: none;
  border: none;
  box-shadow: none;
  padding: 1rem 0.75rem;
  border-radius: 0.25rem;
}

input:focus {
  outline: 1px solid var(--primary-color);
}

input {
  margin: 0.2rem 0 1rem;
  color: var(--font-color);
  background-color: var(--bg-color-darker);
}

button {
  font-size: 0.95rem;
  background-color: var(--primary-color);
}

hr {
  border: none;
  border-top: 1px solid #878787;
  margin: 1rem 0px;
}

a:hover {
  text-decoration: underline;
}
