body {
  height: 100vh;
  width: 100vw;
}

.center {
  display: grid;
  place-items: center;
}

.formBox {
  width: 95%;
  max-width: 30rem;
  padding: 1rem;
  background-color: var(--base-300-color);
  border-radius: 0.75rem;
}

h1 {
  margin: 0 0 1rem;
  text-align: center;
}

input,
button {
  width: 100%;
}

label,
button {
  font-weight: 600;
}

input {
  margin: 0.2rem 0 1rem;
}

button {
  padding: 1rem 0.75rem;
  border-radius: 0.75rem;
}

button {
  font-size: 0.95rem;
  color: var(--base-300-color);
  background-color: var(--primary-color);
}

hr {
  border: none;
  border-top: 1px solid var(--base-100-color);
  margin: 1rem 0px;
}

a:hover {
  text-decoration: underline;
}
