/* Fullscreen Background and Positioning */

#navigation {
  display: none;
}

/* Fullscreen Container Styling */

.navigation-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  backdrop-filter: blur(0.2rem);
}

/* Closing Section Container */

.closing-section {
  display: flex;
  width: 90%;
  height: 5%;
  margin: 1rem;
  justify-content: space-between;
}

.closing-section > h1 {
  margin: 0;
  text-align: center;
}

/* Navigation Element Container */

.navigation-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: var(--base-100-color);
  opacity: 0.9;
  color: var(--base-content-color);
}

/* Section Elements */

.navigation-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  margin: 0;
}

/* Titles */

.navigation-title {
  font-size: 2rem;
  border-bottom: 3px solid var(--base-content-color);
  border-top: 3px solid var(--base-content-color);
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 0;
}

/* Overwrite Border Styling of H2 */

.first-title {
  border-top: none;
}

/* Width, alignment of title and the ul */

.navigation-title,
.navigation-list {
  width: 100%;
  text-align: center;
}

/* UL Styling */

.navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

/* List Items Styling */

.navigation-item {
  display: flex;
  align-items: center;
  height: 33%;
}

/* Link Styling */

.navigation-item a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
