.navigation-menu {
  height: 100%;
  background-color: var(--base-200-color);
  border-radius: 0 2rem 2rem 0;
  display: flex;
}

.nav-icons-list,
.nav-content-list {
  padding: 2rem 0;
}

.nav-icons-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-left: 1rem;
  width: 4rem;
  background-color: var(--primary-color);
  border-radius: 0 1rem 1rem 0;
}

.nav-icon {
  height: calc(100% / 3);
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.nav-icon svg {
  height: 32px;
  width: 32px;
  fill: currentColor;
}

#logout {
  margin-top: auto;
}

.nav-content-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  padding-left: 4rem;
  padding-right: 2rem;
}

.nav-item-section {
  width: fit-content;
  display: flex;
  flex-direction: column;
  height: calc(100% / 3);
}

.nav-item-title {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  line-height: 2rem;
  font-size: 2rem;
}

.nav-item {
  margin: 1rem 0;
}

@media only screen and (width > 1024px) {
}
