/* Slider background container */

.slider-container {
  position: relative;
  height: 4.5rem;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(var(--primary-color), var(--base-100-color));
  backdrop-filter: contrast(70%);
  border-radius: 1.3rem;
  box-shadow: 3px 3px 3px 1px var(--base-200-color);
}

/* Style the list */

.slider-list {
  position: absolute;
  height: 3.5rem;
  width: 95%;
  display: flex;
  align-items: center;
  border: 2px solid var(--base-300-color);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border-radius: 1rem;
  background-color: var(--base-100-color);
}

/* Hide Scrollbar */

.slider-list::-webkit-scrollbar {
  display: none;
}

/* Style the List items */

.settings-item {
  border-right: 2px solid var(--base-300-color);
  transition: background-color 0.3s ease-in-out;
  flex-grow: 1;
  height: 100%;
}

.settings-item:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease-in-out;
}

/* Icon Styling */

.settings-icon {
  margin: 0.2rem;
  transition: fill 0.5s ease-in-out;
}

/* Last Button remove border */

.last {
  border-right: none;
}

/* Active Button */

.active {
  color: var(--base-100-color);
  background-color: var(--primary-color);
}

/* Button Styling */

.settings-item button {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
