/* Container Styling */

.timeline-container {
  width: 100%;
  height: 40vh;
  border: 2px solid black;
  border-radius: 0.75rem;
  background-color: #eee;
  padding: 0.3rem;
}

/* Event Item Styling */

.timeline-container .timeline-event {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  height: 22%;
  width: 98%;
  margin: 2% 1%;
  border: 1px solid black;
  border-radius: 0.75rem;
  background-color: white;
}

/* Profile Icon Container/Link */

.timeline-container .timeline-event .profile-link {
  height: 100%;
  display: flex;
  margin-left: 0.3rem;
}

/* Profile Icon */

.timeline-container .timeline-event .profile-icon {
  border: none;
  width: 50px;
  height: 50px;
  align-self: center;
}

/* Event Description/Time Container */

.timeline-container .timeline-event .span-container {
  width: 78%;
  height: 100%;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  padding: 0.4rem;
  font-size: 0.8rem;
}

/* Event Description */

.timeline-container .timeline-event .span-container .event-description {
  flex: 1;
}

/* Event Time */

.span-container .event-time {
  align-self: flex-end;
  justify-self: flex-end;
}
