/* List Styling */
.timeline-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-wrap: normal;
}

/* Event Item Styling */
.timeline-event {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  height: 24%;
}

/* Styling for last item in list */
.timeline-event:last-of-type {
  margin-top: 0.2rem; /* Displays the last element fully (otherwise, border was cut off) */
}

/* Profile Icon Container/Link */
.timeline-event .profile-link {
  height: 100%;
  display: flex;
  margin-left: 0.3rem;
  user-select: none;
}

/* Profile Icon */
.timeline-event .profile-icon {
  width: 50px;
  height: 50px;
  align-self: center;
}

/* Event Description/Time Container */
.timeline-event .span-container {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  font-size: 0.7rem;
  line-height: 0.9rem;
}

/* Event Description */
.timeline-event .span-container .event-description {
  flex: 1;
}

/* Event Time */
.span-container .event-time {
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 0.6rem;
}
