.timeline {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100%;
  gap: 0.5rem;
}

.event-item {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1fr 1.2rem;
  gap: 0 0.5rem;
}

.event-item > .profile-link {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  align-items: center;
}
.event-item > .event-description {
  grid-area: 1 / 2 / 2 / 3;
}
.event-item > .event-time {
  grid-area: 2 / 2 / 3 / 3;
  font-size: small;
}

.profile-icon {
  display: block;
  height: 3rem;
  width: 3rem;
}
